body{
	background: url('../imgs/bg_compass.jpg') no-repeat;
	background-size: cover;
}
div.login{
	background: rgba(255,255,255,0.9);
    margin-top: 50px;
    padding: 5px;
    border: 1px solid #FFF;
    box-shadow: 0 0 10px #000;
    border-radius: 7px;
}
div.login form{
	min-height: 220px;
}
form h1{
	font-family: 'Muli',sans-serif;
    font-weight: bolder;
    text-align: center;
    margin-top: 0px;
    color: #B81F24;
    margin-bottom: 20px;
}
#perdilogin{
	display: none;
}
#linkvoltarlogin{
	display: none;
}
#mudarsenha{
	display: none;
}

@media (max-width:767px){
	body{
		background-size: 300%;
		padding: 10px;
	}
}
@media (min-width:768px) and (max-width:991px){
	body{
		padding: 10px;
	}
}