body{
	background: url('../imgs/bg_compass.jpg') no-repeat;
	background-size: cover;
}
div.login{
	background: rgba(255,255,255,0.9);
	margin-top: 50px;
	padding: 5px;
	border: 1px solid #FFF;
	box-shadow: 0 0 10px #000;
	border-radius: 7px;
}
div.login form{
	min-height: 220px;
}
form h1{
	font-family: 'Muli',sans-serif;
	font-weight: bolder;
	text-align: center;
	margin-top: 0px;
	color: #B81F24;
	margin-bottom: 20px;
}
#perdilogin{
	display: none;
}
#linkvoltarlogin{
	display: none;
}
#mudarsenha{
	display: none;
}
header .input-group{
	margin-top: 35px;
}
a.carrinho{
	color: #B81F24;
	font-size: 40px;
}
.input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group{
	height: 34px;
}
header .badge{
	position: relative;
	top: -18px;
	left: -20px;
	background: #B81F24;
	box-shadow: 0 0 2px #000;
}
a.carrinho:hover{
	text-decoration: none;
}
div.carrinho{
	margin-top: 20px;
}
header{
	min-height: 100px;
}
ul.nav-pills{
	margin-bottom: 20px;
	width: 255px;
	background: rgba(255,255,255,0.9);
}
ul.nav-pills li a:hover{
	background: rgba(184, 31, 36, 0.71);
	color: #FFF;
	border-radius: 0;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
ul.nav-pills li.active a:hover{
	background: #B81F24;
	color: #FFF;
	border-radius: 0;
}
ul.nav-pills li.active a{
	background: #B81F24;
	text-align: center;
	font-weight: bold;
	text-shadow: none;
	font-size: 20px;
	border-radius: 0;
}
ul.nav-pills li a{
	font-family: 'Muli',sans-serif;
	font-size: 15px;
	color: #B81F24;
}
#corpo{
	margin-left: 255px;
	padding: 15px;
}
div.menus{
	float: left;
}
#lancamentos h1, #destaques h1{
	font-family: 'Muli',sans-serif;
    color: #B81F24;
    font-size: 30px;
    font-weight: bold;
    margin-left: 15px;
}
h2.nomeProduto{
	font-family: 'Muli',sans-serif;
    color: #B81F24;
    font-size: 25px;
    font-weight: bold;
    margin-top: 5px;
}
div.stars{
	color: yellowgreen;
    font-size: 18px;
    float: left;
}
p.preco{
	text-align: right;
	font-family: 'Muli',sans-serif;
	color: #5cb85c;
	font-size: 20px;
    font-weight: bold;
}
p.descProduto{
	font-family: 'Muli',sans-serif;
	font-size: 15px;
	text-align: justify;
}




@media (max-width:767px){
	body{
		background-size: 300%;
		padding: 10px;
	}
	ul.nav-pills{
		display: none;
	}
	#corpo{
		margin-left: 0;
	}
}
@media (min-width:768px) and (max-width:991px){
	body{
		padding: 10px;
	}
	ul.nav-pills{
		display: none;
	}
	#corpo{
		margin-left: 0;
	}
}